:root {
  --h1-fontsize: 45px;
  --h2-fontsize: 24px;
  --p-fontsize: 20px;
}
@media (max-width: 600px) {
  :root {
    --h1-fontsize: 25px;
    --h2-fontsize: 18px;
    --p-fontsize: 16px;
  }
}
main {
  font-size: var(--p-fontsize);
}
.main-header {
  width: 100%;
  height: 100vh;
}
.main-header::before,
.main-header::after {
  content: "";
  position: absolute;
  width: 100%;
}
.main-header::before {
  background-color: rgba(24, 24, 26, 0.8);
  height: 100%;
  top: 0;
}
.main-header::after {
  bottom: -1px;
  height: 150px;
  background: url("../../img/about/dec.svg") no-repeat;
  background-position: center bottom;
  z-index: 2;
}

/* paralax */
.js-parallax {
  background-position: center;
  background-size: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  transition: all 0.1s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.main-info {
  position: relative;
  z-index: 2;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-info__h1 {
  color: #fff;
  font-size: var(--h1-fontsize);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 9px rgba(0, 0, 0, 0.05),
    0px 3px 15px rgba(0, 0, 0, 0.05);
}
.main-info__h2 {
  text-align: center;
  color: #adb0ae;
  font-size: var(--h2-fontsize);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 9px rgba(0, 0, 0, 0.05),
    0px 3px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 80px;
}

/* button*/

.main-info__btn {
  border: 1px solid #ce9e78;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-top: 50px;
}

.main-info__btn::after,
.main-info__btn::before {
  content: "";
  width: 100px;
  height: 1px;
  position: absolute;
  background-color: #ce9e78;
}
.main-info__btn::before {
  left: -70%;
}
.main-info__btn::after {
  right: -70%;
}

.main-info__btn:hover {
  background-color: rgba(169, 137, 112, 0.7);
}

.main-info__btn--dec {
  position: absolute;
  z-index: 0;
  width: 196px;
  height: 54px;
  border: 1px solid #a98970;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .main-info__btn::after,
  .main-info__btn::before {
    display: none;
  }
}
.main-info__btnText {
  color: #adb0ae;
  font-family: "Josefin Sans";
  font-weight: 100;
  font-style: normal;
}

.main-info__btnImg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% - 8px);
  right: 15px;
}
@media (max-width: 600px) {
  .main-info__btn::after,
  .main-info__btn::before {
    display: none;
  }
}
/*********************** Section  */

/* Section-items */
.main-video-section {
  padding-top: 100px;
  background-color: var(--main-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.main-video-section__item {
  flex: 1 1 300px;
  height: 450px;
  margin: 20px 10px;
  position: relative;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
  border-radius: 2px;
  transform: scale(1);
  transition: all 0.5s ease;
}
.main-video-section__item:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 1600px) {
  .video-item {
    height: 400px;
  }
}
.video-item__bg-fill {
  position: absolute;
  z-index: 1;
  background-color: rgba(24, 24, 26, 0.8);
  width: 100%;
  height: 100%;
  transition: all 0.9s ease;
}
.video-item__bg-fill:hover {
  background-color: rgba(24, 24, 26, 0.3);
  transition: all 0.9s ease;
}

.video-item__gradient {
  position: absolute;
  z-index: 2;
  background: linear-gradient(180deg, rgba(24, 24, 26, 1), rgba(24, 24, 26, 0));
  width: 100%;
  height: 50%;
}
.video-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  padding: 20px;
  box-sizing: border-box;
}
.video-item-content__h {
  font-size: 30px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-style: normal;
  color: #f0f5f2;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 2px 9px rgba(0, 0, 0, 0.1),
    0px 3px 15px rgba(0, 0, 0, 0.1);
}
.video-item-content__text {
  text-align: center;
  color: #adb0ae;

  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 2px 9px rgba(0, 0, 0, 0.1),
    0px 3px 15px rgba(0, 0, 0, 0.1);
}
.video-item-content__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  background: url("/src/img/main/play-button.svg") center;
  background-size: cover;
}
