* {
  box-sizing: border-box;
}

.howWorks {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #3a3a3a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.howWorks::after {
  content: "";
  position: absolute;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 150px;
  background: url("../../img/about/Component\ 3\ –\ 1.svg") no-repeat;
  background-position: center bottom;
  z-index: 2;
}

.about__h2 {
  text-align: center;
  color: #ccc;
  font-size: 40px;
  margin-bottom: 20px;
}

.howWorks__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* item-container standart box-img -- content */
.howWorks__item-container {
  width: 100%;
  display: flex;
  height: 200px;
}

.howWorks__item-box {
  height: 100%;
  flex: 1 1 380px;
  width: 50%;
  position: relative;
}

/* img */
.howWorks__item-img {
  width: 380px;
  height: 140px;
}

/* standart text-box */

.howWorks__item-h {
  font-size: 27px;
  color: #bd9d81;
  margin-bottom: 15px;
}

.howWorks__item-text {
  color: #79787c;
  max-width: 400px;
}

/* designe--group */
.howWorks__item-designe-groups {
  display: flex;
  height: 40px;
  align-items: center;
}
.howWorks__item-designe-circle {
  width: 10px;
  height: 10px;
  border: 3px solid #bd9d81;
  border-radius: 10px;
}
.howWorks__item-designe-line {
  background-color: #2f2e32;
  height: 2px;
  width: 35px;
}
.howWorks__item-designe-number {
  font-size: 30px;
  color: #ccc;
}

/* position box */

.howWorks__item-box--first {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: flex-end;
  padding-right: 40px;
  order: 0;
  border-right: 1px solid #2f2e32;
}
.howWorks__item-box--second {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: flex-start;
  padding-left: 40px;
  order: 1;
  border-left: 1px solid #2f2e32;
}
.howWorks__item-box--first > .howWorks__item-text {
  text-align: right;
}
.howWorks__item-box--first > .howWorks__item-designe-groups {
  flex-direction: row-reverse;
  position: absolute;
  top: -20px;
  right: -6px;
}
.howWorks__item-box--second > .howWorks__item-designe-groups {
  position: absolute;
  top: -20px;
  left: -6px;
}

@media screen and (max-width: 780px) {
  body {
    background: #fc0;
  }

  .howWorks__item-textbox {
    justify-content: flex-start;
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    border-left: 1px solid #2f2e32;
  }
  .howWorks__item-box--first > .howWorks__item-text {
    text-align: start;
  }
  .howWorks__item-box--first > .howWorks__item-designe-groups {
    flex-direction: row;
    position: absolute;
    top: -20px;
    right: -6px;
  }
  .howWorks__item-textbox > .howWorks__item-designe-groups {
    position: absolute;
    top: -20px;
    left: -6px;
  }
  .howWorks__item-box--hidden {
    display: none;
  }
}
