:root {
  --main-color: #18181a;
  --second-color: #bd9d81;
  --bg-color: 313034;
  --font-size-h2: 40px;
  --font-size-p: 18px;
  --padding-top-section: 120px;
  --padding: 80px;
}

/*About*/
.aboutUs {
  width: 100%;

  background: url(../../img/about/annie-spratt-sggw4-qDD54-unsplash.jpg);
  background-size: cover;
  object-fit: cover;
  position: relative;
  height: 50vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.aboutUs::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(24, 24, 26, 0.5) 0%,
    rgba(24, 24, 26, 0.87) 100%
  );
}
.aboutUs::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 150px;
  width: 100%;
  background-image: url("../../img/about/dec.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 5;
}
.section-title {
  color: #fff;
  text-align: center;
  font-size: var(--font-size-h2);
  position: relative;
  z-index: 4;
}

.aboutUs__wrapper {
  width: 100%;

  font-size: 18px;
  display: flex;

  margin-top: 0px;
  position: relative;
  padding: 0px var(--padding);
}

.aboutUs__description {
  position: relative;
  width: 100%;
  z-index: 2;
  text-align: center;
  color: #aaa;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}
.about-equip {
  width: 100%;
  position: relative;
  background-color: #18181a;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px var(--padding);
}
@media (max-width: 800px) {
  .about-equip {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-equip__h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: var(--font-size-h2);
  margin-bottom: 60px;
}

.about-equip__text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: justify;
  max-width: 1000px;
  font-size: 18px;
  color: #79787c;
  text-indent: 20px;
}

.card-container {
  margin-top: 100px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1480px;
}
.card {
  position: relative;
  height: 250px;
  background: #18181a;
  display: flex;
  width: 100%;

  margin: 30px 0;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 -4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.card__imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #18181a;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  padding: 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.card__imgBox img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: contain;
  object-fit: contain;
}
.card:hover .card__imgBox {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
}
.card .card__imgBox img {
  max-width: 200px;
  transition: 0.5s ease-in-out;
}

.card__imgBox::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  text-align: center;
  font-size: 3.4em;
  color: rgba(255, 255, 255, 0.03);
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
.card-content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #79787c;
}
.card-content h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: aliceblue;
}
.card:hover .card__imgBox img {
  max-width: 75px;
  transition: 0.5s ease-in-out;
}
.card:hover .card__imgBox::before {
  opacity: 0;
  font-size: 1.3em;
}
@media (min-width: 1300px) {
  .card {
    height: 320px;
  }
}
@media (max-width: 1100px) {
  .card-container {
    font-size: 16px;
  }
  :root {
    --font-size-h2: 30px;
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 20px;
    --font-size-h2: 28px;
  }
  .card {
    flex-direction: column;
    height: auto;
  }
  .card .card__imgBox {
    position: relative;
  }
  .card .card__imgBox,
  .card:hover .card__imgBox {
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
  }
  .card .card__imgBox img,
  .card:hover .card__imgBox img {
    max-width: 100px;
  }
  .card-content {
    position: relative;
    width: 100%;
  }
  .card__imgBox::before {
    display: none;
  }
}
