* {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
}
:root {
  --font-size__p: 20px;
  --font-size__h1: 40px;
  --font-size__h2: 33px;
  --padding: 80px;
}
h1 {
  font-size: var(--font-size__h1);
}
@media (max-width: 1200px) {
  :root {
    --padding: 60px;
  }
}
@media (max-width: 786px) {
  :root {
    --font-size__p: 16px;
    --font-size__h1: 30px;
    --font-size__h2: 20px;
    --padding: 30px;
  }
}
@media (max-width: 400px) {
  :root {
    --font-size__p: 14px;
    --font-size__h1: 26px;
    --font-size__h2: 18px;
    --padding: 10px;
  }
}
h2 {
  font-size: var(--font-size__h2);
}
p {
  font-size: var(--font-size__p);
}
/* HEADER */
.service-header {
  width: 100%;
  height: 50vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  font-size: var(--font-size__p);
}
.service-header::before,
.service-header::after {
  content: "";
  position: absolute;
  width: 100%;
}
.service-header::before {
  background: linear-gradient(
    to right,
    rgba(24, 24, 26, 1) 0%,
    rgba(24, 24, 26, 0.9) 50%,
    rgba(24, 24, 26, 1) 100%
  );
  height: 100%;
  top: 0;
}
.service-header::after {
  bottom: -1px;
  height: 150px;
  background: url("/src/img/about/dec.svg") no-repeat;
  background-position: center bottom;
  z-index: 2;
}
.service-header__inner {
  margin: auto;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  padding: 0 var(--padding);
}
.service-header__h {
  color: #fff;
  text-align: center;
  margin-bottom: 70px;
}
.service-header__text {
  color: #79787c;
  max-width: 1000px;
  text-align: center;
}

.service__video-background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  .service-header {
    height: 100vh;
    min-height: 300px;
  }
  .service-header__h {
    margin-bottom: 50px;
  }
  .service__video-background {
    display: none;
  }
  .service-header {
    background: url(../../img/portfolio/img/6.jpg) no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
}

/********************* main content service */
.service-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 26, 1);
  max-width: 1480px;
  margin: auto;
}
.service-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px var(--padding);
}
.service-section:nth-of-type(2) {
  flex-direction: row-reverse;
}

.service-section__visual-box,
.service-section__text-box {
  width: 50%;
  min-height: 500px;
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.service-section__text-box {
  padding-bottom: 20px;
}
.service-section__visual-item {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  justify-content: center;
}
.service-section__visual-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 0;
}

.service-content__text {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 25px;
  text-shadow: #18181a;
  color: #79787c;
}

.service-content__text-title {
  color: #bd9d81;
  font-size: var(--font-size__h1);
  margin-bottom: 60px;
  margin-top: 60px;
}
.service-content__text-deskription {
  width: 100%;
}
/* content position */
.is-selected {
  transform: translateX(0%);
}
.move-left {
  transform: translateX(-100%);
}

.service-section__navigation-group {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 5;
  display: flex;
  transform: translate(0%);
  padding: 10px;
  justify-content: space-between;
}

.btn-nav {
  width: 32%;
  height: 60px;
  color: #e2e2e2;
  background-color: rgba(24, 24, 26, 1);
  cursor: pointer;

  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.04),
    3px 3px 4px rgba(0, 0, 0, 0.25);

  border-radius: 3px;
  transition: all 0.4s ease;
}
.btn-nav:hover {
  color: #bd9d81;
  box-shadow: -1px -1px 6px rgba(255, 255, 255, 0.08),
    3px 3px 6px rgba(0, 0, 0, 0.6);
}
.btn-nav.active-tab {
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.04),
    inset 3px 3px 4px rgba(0, 0, 0, 0.25);
  color: #bd9d81;
}
/*Доп услуги*/
.additional-services {
  background-color: #18181a;
  width: 100%;
  padding: 100px var(--padding);
}
.additional-services h3 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
}
.additional-services__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1480px;
}
.additional-services-item {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.additional-services-item__image-box {
  width: 100%;
  height: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.additional-services-item__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.additional-services-item__image-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.additional-services-item__image-box:hover .filter--black {
  background-color: rgba(0, 0, 0, 0.2);
}
.additional-services-item__text-box {
  color: #79787c;
  font-size: var(--font-size__p);
}
.deskription > p {
  font-size: var(--font-size__p);
}

.additional-services-item__title {
  margin-top: 20px;
  margin-bottom: 16px;

  font-size: var(--font-size__h2);
  color: #fff;
}

.image--cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: bottom;
  background-size: cover;
  background-position: bottom;
}

.slideshow-lightbox-btn {
  border-radius: 3px;
  color: #fff;
  width: 250px;
  height: 50px;
  font-size: var(--font-size__p);
  border: 1px solid #18181a;
  position: absolute;
  top: 50%;
  text-align: center;
  cursor: pointer;
  padding-top: 6px;
  background-color: #18181a;
  z-index: 5;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.04),
    3px 3px 4px rgba(0, 0, 0, 0.25);

  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.slideshow-lightbox-btn:hover {
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.04),
    inset 3px 3px 4px rgba(0, 0, 0, 0.25);
  color: #bd9d81;
}

@media (max-width: 910px) {
  .service-section__navigation-group {
    padding: 0;
    padding-bottom: 10px;
  }
  .additional-services h3 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
  }
  .service-section {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
  .service-section:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .service-section__visual-box {
    width: 100%;
    min-height: 350px;
  }
  .service-section__text-box {
    width: 100%;
    min-height: 350px;
  }

  .service-content__text {
    padding: 0 0px;
  }
  .service-content__text-title {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .additional-services__wrapper {
    flex-direction: column;
    padding-top: 80px;
  }
  .additional-services-item {
    width: 100%;

    margin-bottom: 0px;
    flex-direction: column-reverse;
  }
  .additional-services-item__image-box {
    margin-top: 60px;
    margin-bottom: 0;
  }
}
