
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Light.eot');
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Light.woff') format('woff'),
		url('Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Thin.eot');
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Thin.woff') format('woff'),
		url('Montserrat-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Regular.woff') format('woff'),
		url('Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}