:root {
  --main-color: #18181a;
  --second-color: #bd9d81;
  --padding:60px;
  --font-size__p:18px;
  --font-size__h3:30px;
}
*{
  box-sizing: border-box;
}
@media(max-width:786px){
  :root{
    --padding:30px;
    --font-size__p:16px;
    --font-size__h3:18px;
  }
}
.portfolio-header {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 400px;
}
.portfolio-header::before,
.portfolio-header::after {
  content: "";
  position: absolute;
  width: 100%;
}
.portfolio-header::before {
  background-color: rgba(24, 24, 26, 0.8);
  height: 100%;
  top: 0;
}
.portfolio-header::after {
  bottom: -1px;
  height: 150px;
  background: url("../../img/about/Component\ 3\ –\ 1.svg") no-repeat;
  background-position: center bottom;
  z-index: 2;
}

/* paralax */
.js-parallax {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url("../../aaron-huber-384315-unsplash-min.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0;
  left: 0;
}

.portfolio-header__inner {
  position: relative;
  z-index: 2;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-header__h1 {
  color: #e7e0dd;
  font-size: 40px;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

/* inputs */

.portfolio-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.portfolio-navigation__tab {
  color: #e7e0dd;
  border-bottom: 1px solid #e7e0dd;
  padding: 10px 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.portfolio-navigation__tab:hover {
  border-bottom: 1px solid #bd9d81;
  color: #bd9d81;
}




/* Items */
.portfolio-wrapper {
  padding: 80px var(--padding);
  background-color: var(--main-color);
  width: 100%;
}

.portfolio-item {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  min-height: 400px;
  margin-bottom: 40px;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: var(--font-size__p);
  color:#79787c;
  overflow: hidden;
  justify-content: stretch;
  align-items: stretch;
}
.portfolio-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.1);
}
.portfolio-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.portfolio-item__box{
  width: 50%;
  min-height: 100%;

}
.portfolio-item__img-box{
  height: 90%;
  width: 100%;
  background-color: #ddd;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
  cursor: pointer;
}
.portfolio-item__img-box:hover{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}
.portfolio-item__img-box img{
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio-item__time{
  padding-left:10px; 
}
.portfolio-item__text{
  width: 100%;
  min-height: 100%;
  padding-left: 20px;
  background-color: #fff;
}
.portfolio-item__title{
  color:var(--second-color);
  font-size: var(--font-size__h3);
  margin-bottom: 20px;
  margin-top:10px;
}
@media(max-width:786px){
  .portfolio-item{
    flex-direction: column;
    height: auto;
  }
  .portfolio-item__box{
    width: 100%;
    height: auto;
    min-height: 300px;
  }
}
